:root {
  /* ****** Style général ****** */
  /* Couleur */
  --white: #fff;
  --bleu-fonce: #031163;
  --bleu-clair: #1978a5;
  --bleu-turquoise: #1fbfb8;
  --bleu-fonce-semi-transparent: rgba(3, 17, 99, 0.54);
  --bleu-clair-semi-transparent: rgba(25, 120, 165, 0.54);
  --bleu-turquoise-semi-transparent: rgba(31, 191, 184, 0.54);
  --bleu-icone-maison: #0a415b;

  /* Font  */
  --font-family: Roboto, sans-serif;

  /* Marge  */
  --header-marge: 0.5em;

  /* ****** Style Mobile ****** */
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

/* ********** HEADER */
.block_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_image {
  width: 100%;
  height: 10em;
  object-fit: cover;
  object-position: top;
}

.filter {
  height: 10em;
  background-image: linear-gradient(
    to right,
    rgba(31, 191, 184, 0.9) 0,
    rgba(25, 120, 165, 0.9) 50%,
    rgba(3, 17, 99, 0.9) 100%
  );
  position: absolute;
  top: 0;
  width: 100%;
}

/* .filter_img_one {
  border-radius: 50%;
  height: 10em;
  background-image: linear-gradient(
    to right,
    var(--bleu-turquoise-semi-transparent),
    var(--bleu-clair-semi-transparent),
    var(--bleu-fonce-semi-transparent)
  );
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 10em;
  position: absolute;
  color: red;
} */

.title_header {
  font-size: 1.8em;
  border: 2px solid var(--white);
  padding: 0.3em 0.5em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  color: var(--white);
  margin: 0 var(--header-marge);
  border-radius: 0.12em;
  -webkit-border-radius: 0.12em;
  -moz-border-radius: 0.12em;
  -ms-border-radius: 0.12em;
  -o-border-radius: 0.12em;
}
/* ------> FIN HEADER */

/* ********** MAIN */

.container_main_div {
  display: flex;
  flex-direction: column;
}

.container_section_one {
  margin: 1em 0;

  position: relative;
  max-width: 100%;
}
.container_section_two,
.container_section_three {
  margin: 1em;
}

.box_nav_one,
.box_nav_two,
.box_nav_three {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box_a,
.box_b,
.box_c {
  position: relative;
  max-width: 100%;
}

.box_visit,
.box_tarif,
.box_formation {
  /*display: none;
  */
  text-align: center;
  width: 4.7em;
  font-size: 0.8em;
  border: 1px solid black;
  padding: 1em;
  color: white;
  position: absolute;
  top: 76%;
  left: 72%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 1;
}

.box_visit {
  background-color: var(--bleu-turquoise);
}

.box_tarif {
  background-color: var(--bleu-clair);
}

.box_formation {
  background-color: var(--bleu-fonce);
}

.round_image_one,
.round_image_two,
.round_image_three {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 10em;
  height: 10em;
  position: relative;
  max-width: 100%;
}

/* ------> FIN MAIN */

/* ********** FOOTER */
#footer_background {
  background: #1fbfb8;
  background: -moz-linear-gradient(
    gauche,
    #1fbfb8 0%,
    #1978a5 50%,
    #031163 100%
  );
  background: -webkit-linear-gradient(
    gauche,
    #1fbfb8 0%,
    #1978a5 50%,
    #031163 100%
  );
  background: linear-gradient(
    to right,
    rgba(31, 191, 184, 0.7) 0%,
    rgba(25, 120, 165, 0.7) 50%,
    rgba(3, 17, 99, 0.8) 100%
  );

  display: flex;
  flex-direction: column;
}

.title_footer_box {
  padding: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_footer {
  font-size: 1.05em;
  border: 2px solid var(--white);
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
  text-transform: uppercase;
  border-radius: 0.12em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  text-align: center;
  margin: 0.6em;
  padding-bottom: 0.2em;
  color: var(--white);
  width: fit-content;
}

.footer_nav_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer_ul_box {
  display: flex;
}

.paragraph_legal {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--white);
}

.icon_space {
  list-style-type: none;
  margin-right: 0.5em;
  color: var(--white);
}

/* ------> FIN DU FOOTER */

/* RESPONSIVE TABLET */
@media only screen and (min-width: 800px) {
  /* *************** MAIN */
  .container_main_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5em 0;
  }

  .title_footer {
    font-size: 1.5em;
  }

  .paragraph_legal {
    font-size: 1em;
  }

  .fa-brands {
    font-size: 1.1em;
  }
}

/* RESPONSIVE DESKTOP */
@media only screen and (min-width: 1080px) {
  .round_image_one,
  .round_image_two,
  .round_image_three {
    width: 19em;
    height: 19em;
  }

  .box_visit,
  .box_tarif,
  .box_formation {
    width: 8em;
    font-size: 1.2em;
    border: 1px solid black;
    padding: 2em 0.5em 2em 0.5em;
    top: 79%;
    left: 71%;
  }

  .container_main_div {
    padding: 1em 0;
  }
}

/* **************************** VISIT PAGE  */
/* *** MAIN VISIT PAGE (PART TOP) */
.banner_main {
  width: 100%;
  height: 10em;
  object-fit: cover;
  object-position: unset;
}

.box_img_text_main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box_visit_banner_main {
  position: absolute;
}

.paragraph_visit_banner_main {
  color: white;
}

.filter_visit {
  height: 3em;
  position: absolute;
  width: 100%;
  background-color: var(--bleu-turquoise-semi-transparent);
}
/* *** FIN MAIN VISIT PAGE (PART TOP) */

.box_nav_menu_main {
  display: flex;
  align-items: center;
  margin: 1em 1.5em;
}

.fa-house {
  font-size: 1.4em;
  margin-right: 0.7em;
  color: var(--bleu-icone-maison);
}

.block_section_one,
.block_section_two {
  margin: 0 1em;
}

.box_logo_refuge,
.box_logo_refuge_horaire {
  display: flex;
  align-items: center;
  color: var(--bleu-turquoise);
  height: 2.5em;
}

.fa-archway,
.fa-clock {
  font-size: 1.4em;
  margin-right: 0.3em;
}

.title_refuge,
.title_refuge_horaire {
  font-size: 1.4em;
}
/* **************************** FIN VISIT PAGE  */
